<div>
    <a href="/"><button class="returnHome-btn" style="color: black;">Productos</button></a>


    {{#if prod}}
    {{#each prod}}
    <div class="cart-card">
        <img src="./Images/{{this.product.category}}.jpg" alt="{{this.product.category}}" style="height: 100px; width:100px">
        <h2>{{{this.product.description}}}</h2>
        <p>Stock: {{{this.product.stock}}}</p>
        <p>Precio: {{{this.product.price}}}</p>
        <div class="qty">
        <p>Cantidad: {{{this.qty}}}</p>
            <div>
                <button class="qty-btn">+</button>
                <button class="qty-btn">-</button>
            </div>

        </div>
    </div>
    {{/each}}
    <div id="buy-btn">
        <button class="buy-btn">Finalizar comprar</button>
    </div>

    {{else}}
     <p>Carrito vacío</p>
    {{/if}}
</div>