<div>
    <h1>Lista productos</h1>
    <ul id="prodList">
        {{#if prod}}
        {{#each prod}}
        <li class="prodLi">
                <h2>{{this.title}}</h2>
                <img src="{{this.thumbnail}}" alt="{{this.title}}">
                <p>{{this.description}}</p>
                <p>Precio: ${{this.price}}</p>
                <p>Stock: {{this.stock}}</p>
            </li>
        {{/each}}
        {{else}}
        <p>No se encontraron productos</p>
        {{/if}}
    </ul>

    {{#if hasPrevPage}}
    <a href="/?page={{prevPage}}"><button>Pagina Previa</button></a>
    {{/if}}

    <p>{{page}}</p>

    {{#if hasNextPage}}
    <a href="/?page={{nextPage}}"><button>Pagina Siguiente</button></a>
    {{/if}}
</div>

<script src="/js/home.js"></script>