<div class="header">

        <h1>Bienvenido {{{user.name}}}</h1>

        <div class="register-login-logout">             

                {{#if user}}
                        <button id="profile-btn" class="header-btn">Perfil</button>
                        <p style="font-size: larger;">|</p>
                        <button id="logout-btn" class="header-btn">Cerrar sesion</button>                        
                {{else}}
                        <button id="login-btn" class="header-btn">Inicia sesion</button>
                        <button id="register-btn" class="header-btn">Registrate</button>
                {{/if}}
        </div>
        
</div>

<div class="contenedor">

        <h2>Lista de productos</h2>

        <p>Seleccione la categoria</p>


        <form action=""> 

                <select name="" id="">    
                <a href="/?category=suv"><option value="SUV">SUV</option></a>
                <a href="/?category=hatchback"><option value="Hatchback">Hatchback</option></a>
                <a href="/?category=sedan"><option value="Sedan">Sedan</option></a>
                <a href="/?category=todoterreno"><option value="Todoterreno">Todoterreno</option></a>
                </select>
                
        </form>

        <div class="cards-contenedor">
                        
                 {{#if prod}}
                {{#each prod}}
                 <div class="cards">
                        <a href="/products/{{this._id}}" style="color: black; text-decoration:none">
                                <h2>{{this.title}}</h2>
                                <img src="./Images/car.jpg" alt="{{this.title}}">
                                <p>Precio: ${{this.price}}</p>
                                <p>Stock: {{this.stock}}</p>
                                <button>Agregar al carrito</button>
                        </a>
                </div>
                                
                {{/each}}
                {{else}}
                <p>No se encontraron productos</p>
                {{/if}}
                        
        </div>

    {{#if hasPrevPage}}
    <a href="/?page={{prevPage}}"><button>Pagina Previa</button></a>
    {{/if}}

    <p>{{page}}</p>

    {{#if hasNextPage}}
    <a href="/?page={{nextPage}}"><button>Pagina Siguiente</button></a>
    {{/if}}
</div>

<script src="/js/home.js"></script>