<div>
    <h1>Binvenido {{{user.name}}}</h1>

        <h2>Lista de productos</h2>

        <p>Seleccione la categoria</p>

        <form action=""> 

                <select name="" id="">    
                <a href="/?category=suv"><option value="SUV">SUV</option></a>
                <a href="/?category=hatchback"><option value="Hatchback">Hatchback</option></a>
                <a href="/?category=sedan"><option value="Sedan">Sedan</option></a>
                <a href="/?category=todoterreno"><option value="Todoterreno">Todoterreno</option></a>
                </select>
                
        </form>

                <div class="contenedor">
                        
                        {{#if prod}}
                        {{#each prod}}
                        <div class="cards">
                                <a href="/products/{{this._id}}" style="color: black; text-decoration:none">
                                        <h2>{{this.title}}</h2>
                                        <img src="{{this.thumbnail}}" alt="{{this.title}}">
                                        <p>Precio: ${{this.price}}</p>
                                        <p>Stock: {{this.stock}}</p>
                                        <button>Agregar al carrito</button>
                        
                                </a>
                        </div>
                                
                        {{/each}}
                        {{else}}
                        <p>No se encontraron productos</p>
                        {{/if}}
                        
                </div>

    {{#if hasPrevPage}}
    <a href="/?page={{prevPage}}"><button>Pagina Previa</button></a>
    {{/if}}

    <p>{{page}}</p>

    {{#if hasNextPage}}
    <a href="/?page={{nextPage}}"><button>Pagina Siguiente</button></a>
    {{/if}}
</div>

<script src="/js/home.js"></script>